# Introduction to Cross-Validation - Lab

## Introduction

In this lab, you'll be able to practice your cross-validation skills!


## Objectives

You will be able to:

- Compare the results with normal holdout validation
- Apply 5-fold cross validation for regression

## Let's get started

This time, let's only include the variables that were previously selected using recursive feature elimination. We included the code to preprocess below.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.datasets import load_boston

boston = load_boston()

boston_features = pd.DataFrame(boston.data, columns = boston.feature_names)
b = boston_features["B"]
logdis = np.log(boston_features["DIS"])
loglstat = np.log(boston_features["LSTAT"])

# minmax scaling
boston_features["B"] = (b-min(b))/(max(b)-min(b))
boston_features["DIS"] = (logdis-min(logdis))/(max(logdis)-min(logdis))

#standardization
boston_features["LSTAT"] = (loglstat-np.mean(loglstat))/np.sqrt(np.var(loglstat))

In [5]:
X = boston_features[['B', 'DIS', 'LSTAT']]
y = pd.DataFrame(boston.target, columns=['MEDV'])

In [7]:
X.head()

          B       DIS     LSTAT
0  1.000000  0.542096 -1.275260
1  1.000000  0.623954 -0.263711
2  0.989737  0.623954 -1.627858
3  0.994276  0.707895 -2.153192
4  1.000000  0.707895 -1.162114

In [8]:
y.head()

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

## Train test split

Perform a train-test-split with a test set of 0.20.

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

Fit the model and apply the model to the make test set predictions

In [11]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train, y_train)

yhat_train = linreg.predict(X_train)
yhat_test = linreg.predict(X_test)

Calculate the residuals and the mean squared error

In [13]:
train_residuals = yhat_train - y_train
test_residuals = yhat_test - y_test

In [14]:
mse_train = np.sum((y_train - yhat_train)**2)/len(y_train)
mse_test = np.sum((y_test - yhat_test)**2)/len(y_test)
print(mse_train)
print(mse_test)

MEDV    24.222555
dtype: float64
MEDV    30.579282
dtype: float64

## Cross-Validation: let's build it from scratch!

### Create a cross-validation function

Write a function k-folds that splits a dataset into k evenly sized pieces.
If the full dataset is not divisible by k, make the first few folds one larger then later ones.

We want the folds to be a list of subsets of data!

In [ ]:
def kfolds(data, k):
    # Force data as pandas dataframe
    data = pd.DataFrame()
    # add 1 to fold size to account for leftovers           
    return None

### Apply it to the Boston Housing Data

In [ ]:
# Make sure to concatenate the data again

### Perform a linear regression for each fold, and calculate the training and test error

Perform linear regression on each and calculate the training and test error.

In [ ]:
test_errs = []
train_errs = []
k=5

for n in range(k):
    # Split in train and test for the fold
    train = None
    test = None
    # Fit a linear regression model
    
    #Evaluate Train and Test Errors

# print(train_errs)
# print(test_errs)

## Cross-Validation using Scikit-Learn

This was a bit of work! Now, let's perform 5-fold cross-validation to get the mean squared error through scikit-learn. Let's have a look at the five individual MSEs and explain what's going on.

In [15]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
cv_5 = cross_val_score(linreg, X, y, cv=5)

In [18]:
cv_5e = sum(cv_5/ len(cv_5))
print (cv_5)
print (cv_5e)

[0.43493403 0.78758975 0.38478938 0.57073807 0.32620706]
0.5008516560047294

Next, calculate the mean of the MSE over the 5 cross-validations and compare and contrast with the result from the train-test-split case.

In [20]:
mse_cv5 = np.mean(cross_val_score(linreg, X, y, cv=5, scoring='neg_mean_squared_error'))
mse_cv5

-28.737736096449662

##  Summary

Congratulations! You now practiced your knowledge on k-fold crossvalidation!